html, body{
scroll-behavior: smooth;
}
//All styles can be added here.
.anchorBtn{
  @apply text-xs py-1 px-2 w-fit flex items-center gap-1 border border-[#2D2926] rounded-[50px]
}

.active_tab{
  @apply bg-[#CE0037] text-white;
}
.accordion-item{
  .accordion-content{
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
  }
  &.active{
    .accordion-content{
      opacity: 1;
      visibility: visible;
      max-height: 1000px;
      padding-bottom: 10px;
    }
  }
}