html, body{
scroll-behavior: smooth;
}
//All styles can be added here.
.anchorBtn{
  @apply text-xs py-1 px-2 w-fit flex items-center gap-1 border border-[#2D2926] rounded-[50px]
}

.active_tab{
  @apply bg-[#CE0037] text-white;
}
.accordion-item{
  .accordion-content{
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
  }
  &.active{
    .accordion-content{
      opacity: 1;
      visibility: visible;
      max-height: 1000px;
      padding-bottom: 10px;
    }
  }
}

.container{
  @media (max-width: 1024px){
    padding-left: 64px;
    padding-right: 64px;
  }
  @media (max-width: 820px){
    padding-left: 40px;
    padding-right: 40px;
  }
  @media (max-width: 576px){
    padding-left: 16px;
    padding-right: 16px;
  }
}
.table-item{
  @media (max-width: 576px){
    span:nth-child(1) {
      order: 1
    }
    span:nth-child(2) {
      order: 3;
      grid-column: 1/-1;
    }
    span:nth-child(3) {
      order: 2
    }
  }
}
.menu{

  @media (max-width: 1280px){
    @apply absolute right-0 top-full mt-4 bg-white/70 backdrop-blur-[8px] rounded-3xl px-6 py-4;
    opacity: 0;
    visibility: hidden;
  }
  &.active{
    opacity: 1;
   visibility: visible;
  }
}